In [2]:
import pandas as pd
import numpy as np

In [8]:
db_EDuniq = pd.read_excel("HospitalDatabase.xlsx",sheet_name="EDUnique")

In [9]:
#22.Dataframe with acuity and EDDisposition as the indices and count of number of patients as value
db_EDuniq.groupby(["Acuity","EDDisposition"]).agg({'PatientID':'count'})

                      PatientID
Acuity EDDisposition
1      Admitted              16
       Discharged           141
       admitted              13
       discharged           257
2      Admitted              39
       Discharged            41
       admitted              63
3      Admitted              52
       admitted              18
4      Admitted              41
       Discharged            11
       admitted              56
       discharged            11
5      Admitted              54
       Discharged            12
       admitted             108
       discharged            12

# 41.)Find the visit type with maximum 'No Show'.

In [10]:
df = pd.read_excel("HospitalDatabase.xlsx","AmbulatoryVisits")

In [11]:
group_df = df.groupby('VisitType')


def count_no_show(group):
    return sum(group['VisitStatus'] == 'No Show')

no_show_counts = group_df.apply(count_no_show)
print(no_show_counts)

VisitType
Follow Up       41
New              0
Physical        39
Telemedicine    74
dtype: int64

#  42.)Using loc , get the details of the providers where providerId is between 11 and 20 and ProviderSpecialty is Surgery.

In [12]:
df = pd.read_excel("HospitalDatabase.xlsx","Providers")

Surgery_Providers = df.loc[(df['ProviderID'] >= 11) & (df['ProviderID'] <= 20) & (df['ProviderSpecialty'] == 'Surgery')]

Surgery_Providers

    ProviderID     ProviderName ProviderSpecialty     ProviderDateOnStaff
10          11     Kim Kimberly           Surgery 1998-05-10 14:47:29.468
11          12         Sarah Ab           Surgery 1998-08-18 05:22:40.762
12          13  Abigail Marriot           Surgery 1998-11-08 12:25:45.705
13          14          Dave Yu           Surgery 1999-06-26 16:18:57.436
14          15  Christian Saint           Surgery 2000-08-27 00:12:40.326
15          16     Perry Pardon           Surgery 2001-02-13 11:49:17.862

# 43.) In question 34(np.arange(1,31).reshape(6,5) Find the array slicing to get the elements with values 11,12,16,17.), when the value is less than 6, print as -1,else print 99.

In [3]:
Ranges=np.arange(1,31).reshape(6,5)

new_Ranges=Ranges[2:4,0:2]
new_Ranges

array([[11, 12],
       [16, 17]])

In [4]:
for x in new_Ranges:
    for y in x:
        if (y < 6):
            print('-1')
        else:
            print('99')

99
99
99
99