In [2]:
import pandas as pd
import numpy as np

In [2]:
db_EDuniq = pd.read_excel("HospitalDatabase.xlsx",sheet_name="EDUnique")

In [3]:
#22.Dataframe with acuity and EDDisposition as the indices and count of number of patients as value
db_EDuniq.groupby(["Acuity","EDDisposition"]).agg({'PatientID':'count'})

                      PatientID
Acuity EDDisposition
1      Admitted              16
       Discharged           141
       admitted              13
       discharged           257
2      Admitted              39
       Discharged            41
       admitted              63
3      Admitted              52
       admitted              18
4      Admitted              41
       Discharged            11
       admitted              56
       discharged            11
5      Admitted              54
       Discharged            12
       admitted             108
       discharged            12

# 41.)Find the visit type with maximum 'No Show'.

In [3]:
df = pd.read_excel("HospitalDatabase.xlsx","AmbulatoryVisits")

In [4]:
group_df = df.groupby('VisitType')


def count_no_show(group):
    return sum(group['VisitStatus'] == 'No Show')

no_show_counts = group_df.apply(count_no_show)
print(no_show_counts)

VisitType
Follow Up       41
New              0
Physical        39
Telemedicine    74
dtype: int64